
.image-gallery {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
  }
  
  .image-gallery button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 50%;
  }
  
  
  .image-gallery button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 50px;
  }
  
  .image-gallery button:first-of-type {
	left: 10px;
  }
  
  .image-gallery button:last-of-type {
	right: 10px;
  }
  /* vh(Virtual Height)는 화면 높이의 1/100을 나타내는 단위입니다. 예를 들어, 100vh는 현재 화면의 높이와 같습니다. */
  .image-gallery img {
	width: 98%;
	height: 40vh; 
  }
  #submainimg{
	width: 98%;
	padding: 1%;
  }
  #teacher{
	color: white;
	font-family: sans-serif;
	font-weight: 1000;
	font-size: 30px;

  }
  .teacher{
	background-color: #333;
	height: 40.0vh;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	padding-left: 13vh;
  }
  .teacher-img{
	width: 30vh;
	border-radius: 7%;
	overflow: hidden;
  }

 


  @media (min-width: 767px) {
	.image-gallery img {
		width: 98%;
		height: 50vh; 
	}
  }