

.menu-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .menu-item:hover {
    color: red;
}
  #logo{
  display: none;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  padding-left: 30px;
  z-index: 0; /* 다른 요소보다 앞에 나타나도록 z-index 설정 */
  }

  .menu-items-container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    font-family: sans-serif;
    /* border: 1px solid; */
    
  }
  
  .menu-item {
    margin: 10px;
    font-family: sans-serif;
  }
  
  .menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .menu-button-line {
    
    width: 20px;
    height: 3px;
    background-color: #000;
    margin: 2px;
    transition: all 0.2s ease-in-out;
  }
  
  .menu-button.open .menu-button-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .menu-button.open .menu-button-line:nth-child(2) {
    opacity: 0;
  }
  
  .menu-button.open .menu-button-line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .menu-items-container.open {
    display: flex;
  }
  
  @media screen and (min-width: 800px) {
    .menu-items-container {
      display: flex !important;
      flex-direction: row !important;
      align-items: center !important;
      justify-content: flex-end !important;
      margin-top: 0 !important;
      width: auto !important;
      
    }
    
    .menu-item {
      margin: 0 10px;
    }
    .menu-item:hover {
        color: red;
    }
    
    .menu-button {
      display: none;
    }
    .menu-bar {
        /* border: 1px solid; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 1.2rem;
        font-size: 1.0rem;
        font-weight: bold;
        
      }
      
      #logo {
        display: flex;
        margin-right: auto;
        font-size: 30px;
      }
      
      .menu-items-container {
        display: flex;
        align-items: center;
      }
      
      .menu-bar div:not(#logo) {
        margin-right: 1.5rem;
      }
      
      .menu-bar div:last-child {
        margin-right: 0;
        margin-left: auto;
      }
          
      
  }